@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hover-white-overlay {
  position: relative;
  display: inline-block;
}

.hover-white-overlay img {
  display: block;
}

.hover-white-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: background 0.3s ease;
  border-radius: 9999px; /* Supaya sesuai rounded-full */
  pointer-events: none;
}

.hover-white-overlay:hover::after {
  background: rgba(255, 255, 255, 0.3);
}


@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
}


@layer utilities {
  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }

.animate-glow {
  box-shadow:
    0 0 15px rgba(91, 115, 242, 0.5),
    0 0 30px rgba(91, 115, 242, 0.3),
    0 0 45px rgba(91, 115, 242, 0.2);
  transition: box-shadow 0.3s ease;
}

.animate-glow:hover {
  box-shadow:
    0 0 25px rgba(91, 115, 242, 0.7),
    0 0 50px rgba(91, 115, 242, 0.5),
    0 0 75px rgba(91, 115, 242, 0.4);
}



  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

/* Ripple Effect */
.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  to {
    transform: scale(6);
    opacity: 0;
  }
}

/* Sparkle Effect */
.sparkle::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 70%);
  background-size: 10px 10px;
  animation: sparkle 2s linear infinite;
}

@keyframes sparkle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Untuk Chrome, Edge, Safari */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Untuk Firefox */
.scroll-hide {
  scrollbar-width: none;
}

/* Untuk IE/Edge lama */
.scroll-hide {
  -ms-overflow-style: none;
}

/* Hilangkan spinner di Chrome, Safari, Edge, dan Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hilangkan spinner di Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
